streamlit==1.51.0
pydantic==2.12.4
lancedb==0.25.3
pandas==2.3.3
daft==0.6.13
pillow==12.0.0
matplotlib==3.10.7
numpy==2.3.5
pyarrow==21.0.0
streamlit-option-menu==0.4.0
streamlit-lottie==0.0.5
streamlit-tags==1.2.8
streamlit-aggrid==1.2.0.post1